*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  font-family: system-ui;
  font-size: 16px;
  margin: 0;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  margin-top: 0;
}

figure,
article {
  margin: 0;
}
img {
  max-width: 100%;
}

.logo {
  height: 6.5rem;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 2rem;
}

.container {
  width: min(1200px, 100% - 2rem);
  margin-inline: auto;
  display: grid;
  gap: 2rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;

  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: all 250ms;

    &:hover {
      color: firebrick;
    }
  }
}

li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: hsl(0 50% 50%);
  padding: 0.8rem;
  display: block;
  white-space: nowrap;
  text-align: left;

  & li + li {
    margin-top: 0.5rem;
  }
}

.hero {
  background-image: linear-gradient(to top, rgb(0 0 0 / 0.4), rgb(0 0 0 / 0.7)),
    url("/image.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}

.main-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.main-content p {
  margin-top: auto;
  margin-bottom: 0;
}

.main-content h3 {
  margin-top: 0;
  text-transform: capitalize;
  font-size: 1.2rem;
}

section {
  padding: 2rem 0 8rem;
}

figure > * {
  margin-top: auto;
}

figure:last-child {
  grid-column: 1 / -1;
}

.main-content:not(:has(img)) {
  padding: 2rem 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

summary {
  font-weight: bold;
  text-transform: uppercase;
}

details {
  background-color: hsl(0 50% 40% / 0.4);
  padding: 1rem;
  border-radius: 10px;
}
details > p {
  padding-top: 1rem;
}
figure:last-child img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  gap: 2rem;
  align-items: center;
}

.grid2 {
  display: grid;
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  gap: 2rem;
  align-items: center;

  & p {
    font-size: 18px;
  }
}

:where(.container) h2 {
  margin-bottom: 0;
}

.container-sm {
  max-width: 850px;
  padding: 0 0 5rem;

  .content {
    text-align: left;
    font-size: 16px;
  }
}

.primary-heading {
  margin-bottom: 3rem;
}

.secondary-content {
  text-align: left;
  & ul {
    list-style: disc;
    display: grid;
    gap: 1.2rem;
    padding-left: 1rem;

    & li {
      & span {
        background: firebrick;
        padding: 0.2rem;
      }
    }
  }
}

.brawls {
  box-shadow: 0 0 40px hsl(0 50% 50% / 0.6);
}

.grid-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  gap: 2rem;
  padding: 5rem 0;
  align-content: center;
}

.grid-table ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & li {
    text-transform: capitalize;
    padding: 0.8rem;
  }
}

.rarity-item {
  & h3 {
    font-size: 2rem;
  }
}

.grid2 .content {
  text-align: left;
}

.grid-table .content {
  grid-column: 1 / -1;

  font-size: 1.5rem;
}

.box {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}
.box span {
  width: 80px;
  color: #eee;
  font-weight: bold;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: center;
}

.box span:nth-child(1) {
  background-color: rgb(255 255 0 / 0.5);
}
.box span:nth-child(2) {
  background-color: rgb(178 34 34 / 0.5);
}

.box span:nth-child(3) {
  background-color: rgb(255 165 0 / 0.4);
}

.box span:nth-child(4) {
  background-color: rgb(238 130 238 / 0.5);
}

.box span:nth-child(5) {
  background-color: rgb(0 0 255 /0.5);
}

.box span:nth-child(6) {
  background-color: rgb(144 238 144 / 0.5);
}

.box span:nth-child(7) {
  background-color: rgb(173 216 230 / 0.5);
}

.container-lg {
  width: min(1300px, 100%);
  margin-inline: auto;
}

li[data-item="legendary"] {
  border: 2px solid yellow;
}

li[data-item="chromatic"] {
  border: 2px solid orange;
}

li[data-item="super-rare"] {
  border: 2px solid blue;
}

li[data-item="mythic"] {
  border: 2px solid rgb(178 34 34 / 0.6);
}

li[data-item="rare"] {
  border: 2px solid lightgreen;
}
li[data-item="epic"] {
  border: 2px solid violet;
}

li[data-item="common"] {
  border: 2px solid lightblue;
}
.grid > *:nth-child(3) {
  grid-column: 1 / -1;
}
.grid > *:nth-child(4) {
  grid-column: 1 / -1;
}

.img-box {
  grid-column: 1 / -1;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article > img {
  height: 100%;
  object-fit: cover;
}

.header-content {
  margin-bottom: 3rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem 2rem;

  & h2 {
    grid-column: 1 /-1;
  }
}

article h3 {
  white-space: nowrap;
}

.grid-4 div {
  grid-column: 1 / -1;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  & div {
    grid-column: 1 /-1;
  }
}
